body {
  margin: 0;
  padding: 0; }

.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%; }
  .wrapper .container {
    display: block;
    width: 100%;
    background: ghostwhite;
    padding-top: 10%; }
