body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%; }

.activeBreadcrumb {
  color: dodgerblue; }

.row {
  width: 100%; }

.wrapper {
  display: block; }
  .wrapper .headline {
    font-family: 'Helvetica', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: -5%; }
  .wrapper .inputs {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .wrapper .inputs input {
      border: none;
      border-bottom: 5px solid dodgerblue;
      display: block;
      width: 25%;
      height: 75px;
      font-size: 3em;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold; }
      .wrapper .inputs input:focus {
        outline: none; }
    .wrapper .inputs button {
      display: block;
      background: dodgerblue;
      margin-top: 3%;
      border: none;
      width: 25%;
      height: 50px;
      font-size: 2em;
      color: ghostwhite;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
      letter-spacing: 1pt; }
  .wrapper .container {
    width: 100%;
    background: ghostwhite;
    margin-top: 10%; }
    .wrapper .container .stockCard {
      display: inline-block;
      background: white;
      font-family: 'Helvetica', sans-serif;
      margin: 0;
      padding: 0;
      margin-bottom: 1%; }
      .wrapper .container .stockCard .next, .wrapper .container .stockCard .prev {
        display: inline-block;
        margin-top: 2%;
        font-size: 2em; }
      .wrapper .container .stockCard .prev {
        text-align: right; }
      .wrapper .container .stockCard .next {
        text-align: left; }
      .wrapper .container .stockCard .breadcrumb {
        text-align: center;
        background-color: #fff;
        color: #000;
        border-left: 5px solid #000;
        border-right: 5px solid #000;
        border-top: 5px solid #000;
        border-bottom: 5px solid #000;
        border-radius: 0px;
        margin-top: 1%; }
        .wrapper .container .stockCard .breadcrumb li {
          display: inline-block;
          -webkit-transition: .1s;
          transition: .1s; }
          .wrapper .container .stockCard .breadcrumb li::before {
            content: none; }
          .wrapper .container .stockCard .breadcrumb li h6 {
            font-weight: bold;
            font-size: 2em; }
      .wrapper .container .stockCard .stockSymbol {
        display: inline-block;
        vertical-align: top;
        cursor: pointer; }
        .wrapper .container .stockCard .stockSymbol h1 {
          display: block;
          font-size: 3em;
          font-weight: bold;
          color: #000;
          text-align: right; }
      .wrapper .container .stockCard .fa {
        font-size: 2.5em;
        color: #000;
        padding-top: 5%; }
      .wrapper .container .stockCard .stockBox {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        list-style: none; }
        .wrapper .container .stockCard .stockBox li {
          display: none; }
        .wrapper .container .stockCard .stockBox .active {
          display: inline-block; }
        .wrapper .container .stockCard .stockBox .price, .wrapper .container .stockCard .stockBox .change, .wrapper .container .stockCard .stockBox .pe {
          display: inline-block;
          font-size: 3em;
          color: #000; }

/*# sourceMappingURL=style.css.map */
