body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  .headline {
    font-family: 'Helvetica', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3.5em;
    margin-top: 5%;
    margin-bottom: -5%;
  }

  .inputs {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    input {
      border: 2px solid dodgerblue;
      width: 100%;
      height: 75px;
      font-size: 3em;
    }

    button {
      display: block;
      background: dodgerblue;
      margin-top: 2%;
      border: none;
      width: 250px;
      height: 50px;
      font-size: 2em;
      color: ghostwhite;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
    }
  }

  .container {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: wrap;
    width: 100%;
    background: ghostwhite;
    margin-top: 10%;


  .stockCard {
    display: inline-block;
    width: 100%;
    border: 1px solid lightgray;
    color: ghostwhite;
    font-family: 'Helvetica', sans-serif;

    .stockSymbol {
      display: inline-block;
      vertical-align: top;
      width: 48%;
      cursor: pointer;

      h1 {
        display: block;
        margin-left: 15%;
        margin-right: auto;
        font-size: 3em;
      }
    }

      .stockBox {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        width: 50%;


        .price {
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
          font-size: 3em;
        }

        .change {
          display: none;
          margin-left: auto;
          margin-right: auto;
          font-size: 3em;
        }

      }

    }

  }

}
