
@mixin centered() {
  float: none;
  margin: 0 auto;
}

body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.activeBreadcrumb {
  color: dodgerblue;
  // opacity: 1;

}

.row {
  width: 100%;
}

.wrapper {
  display: block;
  // margin-left: auto;
  // margin-right: auto;
  // width: 50%;

  .headline {
    font-family: 'Helvetica', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: -5%;
  }

  .inputs {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    input {
      border: none;
      border-bottom: 5px solid dodgerblue;
      display: block;
      width: 25%;
      height: 75px;
      font-size: 3em;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;

      &:focus {
        outline: none;
      }
    }

    button {
      display: block;
      background: dodgerblue;
      margin-top: 3%;
      border: none;
      width: 25%;
      height: 50px;
      font-size: 2em;
      color: ghostwhite;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
      letter-spacing: 1pt;
    }
  }

  .container {
    width: 100%;
    background: ghostwhite;
    margin-top: 10%;

  .stockCard {
    display: inline-block;
    // width: 100%;
    // border: 5px solid black;
    background: white;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 1%;

    .next, .prev {
      display: inline-block;
      margin-top: 2%;
      font-size: 2em;
    }

    .prev {
      text-align: right;
    }

    .next {
      text-align: left;
    }

    .breadcrumb {
      text-align: center;
      background-color: #fff;
      color: #000;
      // @include centered();
      border-left: 5px solid #000;
      border-right: 5px solid #000;
      border-top: 5px solid #000;
      border-bottom: 5px solid #000;
      border-radius: 0px;
      margin-top: 1%;

      li {
        display: inline-block;
        // margin-left: 2%;
        // margin-right: 2%;
        // opacity: .5;
        -webkit-transition: .1s;
        transition: .1s;

        &::before {
          content: none;
        }

        h6 {
          font-weight: bold;
          font-size: 2em;
        }
      }


    }

    .stockSymbol {
      display: inline-block;
      vertical-align: top;
      // width: 48%;
      cursor: pointer;

      h1 {
        display: block;
        // margin-left: 15%;
        // margin-right: auto;
        font-size: 3em;
        font-weight: bold;
        color: #000;
        text-align: right;
      }
    }

    .fa {
      font-size: 2.5em;
      color: #000;
      padding-top: 5%;
    }

      .stockBox {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        // width: 50%;
        list-style: none;

        li {
          display: none;
        }

        .active {
          display: inline-block;
        }


        .price, .change, .pe {
          display: inline-block;
          // margin-left: auto;
          // margin-right: auto;
          font-size: 3em;
          color: #000;
        }

      }

    }

  }

}
